# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/

hls/VitisRho/
VitisRho/

.analytics
.metadata/
.Xil/
IDE.log
vitis_hls.log
xrc.log
*.jou
RemoteSystemsTempFiles/
ap_uint

**/solution*/
**/*.protoinst
**/csim/build/
**/sim/
**/syn/
**/impl/
**/.autopilot/
**/.apc/
**/.debug/

.DS_Store
.idea/
*.swp
